:root {
  --indigo500-color: #6366f1;
  --slate600-color: #475569;
  --slae800-color: #1e293b;
  --slate950-color: #020617;
}

p {
  color: var(--slate-950, #020617);
  font-family: SF Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.h2 {
  color: var(--slate-950, #020617);
  font-family: SF Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.h5 {
  color: var(--indigo-500, #6366f1);
  font-family: SF Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.h6 {
  color: var(--white, #fff);
  font-family: SF Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}

/* Buttons */
.primary_btn {
  color: var(--white, #fff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 10px;
  border-radius: 32px;
  background: var(--indigo-500, #6366f1);
  cursor: pointer;
}
/* Buttons */

.sidebar {
  background: var(--slate950-color);
}

.sidebar .brand {
  color: var(--indigo-500, #6366f1);
  font-family: SF Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.sidebar .btn {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
  color: var(--slate-600, #475569);
  font-family: SF Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  fill: var(--slate-600, #475569);
}

.sidebar .btn:hover {
  color: white;
  fill: white;
}
.sidebar .active {
  border-radius: 32px;
  background: var(--indigo-500, #6366f1);
  color: white;
  fill: white;
}
.list-disc li {
  line-height: 32px;
}

.custom-range-slider {
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  height: 1px;
  align-items: center;
  background: #020617;
  outline: none;

  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.custom-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px !important;
  height: 12px !important;
  background: #6366f1;
  cursor: pointer;
}

.custom-range-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #6366f1;
  cursor: pointer;
}

.inputField {
  display: flex;
  padding: 16px 20px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid var(--slate-200, #e2e8f0);
  background: var(--slate-50, #f8fafc);
}
.inputField::placeholder {
  color: var(--slate-950, #020617);
  font-family: SF Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sign{
  display: flex;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;
align-self: stretch;
border-radius: 16px;
background: var(--indigo-500, #6366F1);
min-height: 850px
}

.inner-box{
  height: 645px ;
  width: 530px;
  /* background: red; */
}


/* Custom scrollbar style */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #e2e8f0; /* Light gray color for the thumb */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cbd5e0; /* Lighter gray on hover */
}

/* Make the table scrollable by dragging */
.scroll-container {
  overflow-x: scroll;
  scroll-behavior: smooth;
  cursor: grab; /* Use the grab cursor for dragging */
}

.scroll-container:active {
  cursor: grabbing; /* Change to grabbing cursor while dragging */
}
.table{
  box-shadow: none !important;
}

.table .table-head{
  padding: 16px;
  color: var(--slate-950, #020617);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #94A3B8;
border-bottom: 1px solid #E2E8F0;
border-right: 1px solid #E2E8F0;
white-space: nowrap;
background: #f8fafc;
}
.table .table-body{
  padding: 16px;
  color: var(--slate-950, #020617);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-top: 1px solid #E2E8F0;
border-right: 1px solid #E2E8F0;
white-space: nowrap;
box-shadow: none !important;
}
.body:nth-child(odd) {
  background-color: #f8fafc; /* Set the background color for odd rows */
}
.body:nth-child(even) {
  background-color: white; /* Set the background color for odd rows */
}


.table, ::before, ::after {
  --tw-brightness: none;}

  